version: '3.9'
services:
  backend:
    # GoLang image
    image: golang:1.22-alpine
    container_name: backend
    working_dir: /app
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
    command: go run cmd/server/main.go
    environment:
      - GEMINI_API_KEY=AIzaSyCd-_m7LRvOVZMqBO_ZEr2v37LsbjyFZc0
    networks:
      - backend-network

  web:
    image: node:20-alpine
    container_name: web
    working_dir: /app
    ports:
      - "3000:3000"
    volumes:
      - ./web:/app
    command: sh -c "npm install && npm run dev --host"
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge


